DATABASE_URL=postgresql://usuario:password@host:5432/bd_core_financiero
SECRET_KEY=coloca_una_clave_segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
CORS_ORIGINS=https://tu-frontend-homebanking.vercel.app
